
body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(42, 42, 42);
    padding-top: 10px;
}

.espaco_cabecalho{ /*espaço adicionado em toda a pagina p/ compensar o cabeçalho*/
    padding-top: 95px;
}

div.formulario{
    transition: 0.3s;
    margin: 20px;
    padding-top: 90px;
    margin-left: 20px;
    color: white;
    padding: 10px;
    background-color: #000000;
    max-width: 240px;
    border-radius: 30px;
    box-shadow: 0px 9px 9px 3px rgba(0,0,0,0.75);
}

#novo-pedido {
    height: 200px;
}

#novo-cliente {
    height: 270px;
}

#novo-produto {
    height: auto; 
}


.campo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.formulario:hover{
    transition: 0.4s;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255, 1.95);
    box-shadow: 0px 1px 9px 3px rgba(255, 255, 255, 0.75);
}

.campo label{
    flex: 1;
}

.campo input{
    flex: 2;
    margin-top: 5px;
}

.table-clientes{
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin-left: 15px;
    table-layout: auto;
    width: auto;
    padding: 5px 4px;
}

.table-selecionada:hover{
    transition: 0.4s;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255, 1.95);
    font-weight: bold;
}

.botaopedidos{
    cursor: pointer;
    border-radius: 20px;
    background-color: rgb(0, 79, 37);
    border-color: white;
    color: white;
}

.botaopedidos:hover{
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 79, 37);
    color: rgb(0, 79, 37);
}

.botaoexcluir{
    cursor: pointer;
    border-radius: 20px;
    background-color: crimson;
    border-color: white;
    color: white;
}
.botaoexcluir:hover{
    background-color: white;
    border-color: crimson;
    color: crimson;
}

.botaoatualizar{
    cursor: pointer;
    border-radius: 20px;
    background-color: blue;
    border-color: white;
    color: white;
}
.botaoatualizar:hover{
    background-color: white;
    border-color: blue;
    color: blue;
}

thead{
    color: black;
    background-color: white;
}

.table-clientes td, .table-clientes th {
    text-align: center;
    border: 2px solid #000000;
    padding: 8px;
}

    /* modal do formulário p/ novo pedido: */

.modal-novopedido {
    font-family: 'Oswald', sans-serif;
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 100px;
    transform: translate(-50%, -50%);
}

.modal-content-novopedido {
    display: auto;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: #fefefe;
    box-shadow: 0px 11px 11px 3px rgba(0,0,0,0.75);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 350px;
}
        /* aqui é o pop up p/ atualizar cliente: */

.modal {
    font-family: 'Oswald', sans-serif;
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 100px;
    transform: translate(-50%, -50%);
}

.modal-content {
    background-color: #fefefe;
    box-shadow: 0px 11px 11px 3px rgba(0,0,0,0.75);
    margin: 5% auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #888;
    width: 300px;
}

.close {
    color: #7c7c7c;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

        /* Estilo para alterar a cor da linha da tabela de pedidos*/
        
.check-btn {
    cursor: pointer;
}

.check-btn.atendido {
    color: rgb(17, 255, 17);
    background-color: rgb(1, 40, 3);
    border: 2px, rgb(255, 255, 255);
}
.check-btn.atendido:hover{
    background-color: rgb(38, 165, 0);
}

.check-btn.nao-atendido {
    color: rgb(255, 17, 17);
    background-color: rgb(40, 1, 1);
    border: 2px, rgb(255, 255, 255);
}
.check-btn.nao-atendido:hover{
    background-color: rgb(165, 0, 0);
}

.pedido-nao-atendido {
    background-color: #2c0000;
}

.pedido-atendido {
    background-color: #002400;
}


/* modal do pop-up de pedidos do cliente */

.modal-pedidos {
    font-family: 'Oswald', sans-serif;
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 100px;
    transform: translate(-50%, -50%);
}

.modal-content-pedidos {
    background-color: #fefefe;
    box-shadow: 0px 11px 11px 3px rgba(0,0,0,0.75);
    margin: 5% auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #888;
    width: 700px;
    max-width: auto;
}

.table-clientes-pedidos{
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 15px;
    table-layout: auto;
    width: auto;
    display: inline-block;
    justify-content: center;
}

.table-selecionada-pedidos:hover{
    transition: 0.4s;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255, 1.95);
}

.table-clientes-pedidos td, .table-clientes-pedidos th {
    text-align: center;
    border: 1px solid #000000;
    padding: 10px;
}